[submodule "assimp"]
	path = third_party/assimp
	url = git@github.com:assimp/assimp.git
[submodule "third_party/glew"]
	path = third_party/glew
	url = git@github.com:nigels-com/glew.git
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = git@github.com:glfw/glfw.git
[submodule "third_party/freetype"]
	path = third_party/freetype
	url = git@github.com:freetype/freetype.git
[submodule "third_party/glm"]
	path = third_party/glm
	url = git@github.com:g-truc/glm.git
[submodule "third_party/assimp"]
	path = third_party/assimp
	url = git@github.com:assimp/assimp.git
